body {
    text-align: center;
    background: linear-gradient(#b56576, #eaac8b);
    font-family: "Oleo Script", system-ui;
    font-weight: 800;
    /* font-style: normal; */
    color: black;
    
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 5px white;
}

.bday-img {
    border-radius: 50%;
    border: 5px solid #A16044;
    height: 400px;
    width: 400px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 5px solid white;
    background-image: url("gift_img.jpg");
    background-size: cover;
}

#gift-img-cake:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWhmOTU2dDJ1aGc3dndvbGozZnF0emg3dTZ1YmNpY2Q2ZDk1b2ExZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OtoRIdO6rZfAktStoc/giphy.gif");
}

#gift-img-old {
    width: 400px;
    height: 200px;
}

#gift-img-old:hover {
    background-image: url("imag2.JPG");
}

#gift-img-loo:hover {
    background-image: url("image3.JPG");
}

#gift-img-intern:hover {
    background-image: url("image4.JPG");
}

#gift-img-final {
    width: 800px;
    height: 300px;
}

#gift-img-final:hover {
    background-image: url("image5.JPG");
}
